{$SITE_ADDRESS} {
  @private expression `path('/') || path('/api/forms*') || (path('/api/responses*') && method('GET'))`

  basic_auth @private {
    {$ADMIN_USER} {$ADMIN_PASSWORD_HASH}
  }

  reverse_proxy app:3000 {
    header_up oai-authenticated-user-email {$ADMIN_EMAIL}
    header_up oai-authenticated-user-full-name {$ADMIN_NAME}
  }
}
